@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
html,
body {
  position: relative;
  min-height: 100vh;
  background-color: #f67280;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  color: white;
}
a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
